
.flex-container{
    /* height: 100vh; */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

#chair {
    display: none;
}

/* #button_area {
    display: flex;
     justify-content: center; 
} */